<p id="notice"><%= notice %></p>

<p>
  <strong>Criterio:</strong>
  <%= @regra.criterio %>
</p>

<%= link_to 'Edit', edit_regra_path(@regra), :class => "btn btn-primary" %>
<%= link_to 'Back', regras_path, :class => "btn btn-default" %>

<hr>
  <h4>
    Results
  </h4>
<hr>


<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Idade</th>
    <th>Estado</th>
    <th>Cargo</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @contatos.each do |contato| %>
      <tr>
        <td><%= contato.nome %></td>
        <td><%= contato.email %></td>
        <td><%= contato.idade %></td>
        <td><%= contato.estado %></td>
        <td><%= contato.cargo %></td>
        <td><%= link_to 'Show', contato %></td>
        <td><%= link_to 'Edit', edit_contato_path(contato) %></td>
        <td><%= link_to 'Destroy', contato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

